.pagination button {
    background-color: #1E293B;
    transition: .5s;
    color: white;
}

.pagination button:hover {
    background-color: rgb(253 186 116);
}

.pagination button:focus {
    font-size: 1.2em;
    font-weight: 500;
    background: #1E293B;
    outline: 2px solid #f9652fd6;
}